<div class="container">
  <div class="upper-data">
    <img src="../assets/hto.jpg" *ngIf="14 > 15">
    <img src="../assets/cold.jpg" *ngIf="14 <= 15">

    <div class="weather-data">
      <div class="location">Wellington</div>
      <div class="temperature"> {{14.40 | number: '1.0-0'}}°C</div>
    </div> 
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min-temp.png" >
          <span>min</span>
        </div>
        <div class="info-block-value">10°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max-temp.png" >
          <span>max</span>
        </div>
        <div class="info-block-value">10°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" >
          <span>humidity</span>
        </div>
        <div class="info-block-value">77%</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" >
          <span>wind</span>
        </div>
        <div class="info-block-value">11 km/h</div>
      </div>
    </div>
  </div>
</div>









<router-outlet></router-outlet>


