<h2>Books list</h2>


<!-- Event & Property Binding

<button (click)="handleClick()" [disabled]="isDisabled">Show Button</button> -->

<ul *ngIf="isShowing">


<!-- Interpolation and Pipes-->
    <li>{{name | titlecase}} by {{author | titlecase}}</li>
    <li>{{name}} by {{author}}</li>
    <li>{{name}} by {{author}}</li>
</ul>

<!-- Two Way Binding  -->

<input type="text"  [(ngModel)]="myName">
<p> {{myName}} </p>

<!-- Event & Property Binding -->
<button (click)="this.isShowing = !this.isShowing">

<!-- ngIF -->
    <ng-container   *ngIf="isShowing">Hide Books</ng-container>
    <ng-container   *ngIf="!isShowing">Show Books</ng-container>
</button>

<!-- ngFor can understand and explain in the code -->
 
