.app{
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
}

.WeatherBox{
    width: 100%;
    max-width: 500px;
    border: 2px solid red;
    overflow: hidden;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.temp-box{
    display: flex;
    justify-content: center;
    align-items: center;
}



.icon{
font-size: 5rem ;
flex: 1 1 50% ;
max-width: 50%;

}

.city{
    display: flex;
    justify-content: center;
    align-items: center;
}

.features {
    display: flex;
}

.features p {
    display: flex;
    flex: 1 1 auto ;
    justify-content: center;
    align-items: center;
}